body {
    padding: 50px 10px 110px 10px;
}

/*input[type="text"], textarea {
  padding: 8px;
}*/

input, textarea {
  outline: none;
  border: none;
  border: solid 1px #DCDCDC;
}

textarea {
  height: 120px;
}
.container {
    height: 70px;
}

.choir_content {
    width: 880px;
    overflow:hidden;
    margin: 20px auto 0 auto;
    color: red;
    background-color: blue;
}

.hymnal_icon {
    background-size: auto auto;
}