body {
    background-image: url(img/27.jpg) 0 0 repeat;
    padding: 5px 5px 110px 5px;
    width:100%;
    max-width:1000px;
}

.nb p {
  color: ligthgray;
  font-size: 75%;
  }

input, textarea {
  outline: none;
  border: none;
  border: solid 1px #DCDCDC;
}

textarea {
  height: 120px;
}
.container {
    height: 70px;
}

td {
  padding: 1px;
  border: solid 1px #f4f4f4;
}

.page {
    font-weight: bold;
}
    @media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

body {
    padding: 5px 5px 110px 5px;
}

td .hymnal_icon{
  width: 25px;
  vertical-align: middle;
}

td .hymnal_icon_ll{
  width: 20px;
  vertical-align: middle;
}

}