{% extends 'base.html' %}

{% block content %}
<h2>Мой блог</h2>

<p>Всем привет!</p>
<p>
    В первой записи расскажу историю создания сайта.
    Все начиналось с того, что мне понадобилось создать инструмент для работы
    с базой данных. Я пою в хоре в церкви Евангельских Христиан Баптистов Нижнего Новгорода.
    Нам приходится хранить большой объем информации о гимнах.
    Несколько лет я справлялся с этой задачей, используя файловую систему и MS Access.
    Но постепенно, с активным внедрением в жизнь мобильных телефонов,
    появилась необходимость получать информацию через Интернет.
    Я не нашел приложения, которое работало бы с форматом MS Access в соответствии с моими пожеланиями.
    К тому же, очень хотелось, чтобы к этой базе данных можно было подключаться независимо от платформы
    мобильного телефона. Тогда я решил сделать этот шаг - перейти на веб.
</p>
<p>
    Дело в том, что до того момента у меня не было опыта работы в Интернете. Весь мой опыт программиста
    был сосредоточен на С/С++. Однако, случилось так, что я встретился с языком Python, который очаровал
    меня своей простотой и потрясающими возможностями. Ознакомившись с ним, я принял решение - написать
    первое веб-приложение для работы с базой данных гимнов. Пришлось потратить какое-то время, чтобы
    изучить Django и разместить все на сервере. (Между прочим, мне сильно помогла в этом школа
    Валерия Бовсуновского. Спасибо ему за это огромное.
    А эту школу рекомендую всем желающим научиться программировать на Python + Django).
    Чуть позже я познакомился с HTML и ССS.
</p>
<p>
    Надо сказать, что именно работа с сайтом
    помогла мне принять одно из самых важных решений с профессиональной точки зрения - я перешел на Linux.
    Попытки сделать это уже неоднократно предпринимались, но со временем сходили на нет.
    Возможно, сейчас уже другое время и сделать это было не очень трудно.
    Поэтому, если у вас есть похожее желание, я хочу вас поддержать в этом.
    Уверяю, что вы не пожалеете.
</p>
<p>
    Итак, на данный момент у меня есть только возможность зайти в базу данных,
    просмотреть сборники гимнов и всего содержащегося в них. Также там содержится записи об их исполнении,
    начиная с 2011 года.
</p>
<p>
    О нашей церкви:
</p>
<p>
    У нас 3 хора: смешанный, мужской и молодежный. У каждого из них свой репертуар.
    До этого времени я служил в первых 2-х, а информацию собирал только для смешанного.
    Возможно, если Бог даст, в базу попадут данные о гимнах из всех 3-х хоров.
    Также, эти если проект будет развиваться,
    базу можно будет наполнить текстом и нотами - и в конце концов избавиться от бумажных папок.
</p>

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
      <input type="text" class="form-control">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->


{% endblock %}