{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h3>Последние новости.</h3>

<div class = "ws">
    <h4><a href="{% url 'hymnals:ws_last' %}">Предстоящие богослужения</a></h4>
</div>
<hr>
    <h4><a href="{% url 'hymnals:choir' 1 %}">Смешанный хор</a></h4>
    <h4><a href="{% url 'hymnals:choir' 2 %}">Мужской хор</a></h4>
    <h4><a href="{% url 'hymnals:choir' 5 %}">Прославление</a></h4>

<!--
<div class = "list">
{% if blog_list %}
    {% for post in blog_list %}
            <hr>
            <h3><a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></h3>
            <p>{{ post.content}}</p>
            <p>{{ post.pubdate}}</p>
    {% endfor %}
{% else %}
    <p>Нет новостей.</p>
{% endif %}
</div> &lt;!&ndash; div class=list &ndash;&gt;
-->

{% endblock content %}

