{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!--<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>-->
<form role="form" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input name="title" type="text" class="form-control" placeholder="Заголовок"/>
    </div>
    <div class="form-group">
        <textarea name="content" class="form-control" placeholder="Содержание"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Отправить" />
    </div>
</form>
{% endblock content %}

