{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h2>Запись в блоге</h2>
<form role="form" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input name="title" type="text" class="form-control" placeholder="Заголовок"/>
    </div>
    <div class="form-group">
        <textarea name="content" class="form-control" rows="10"></textarea>
    </div>
    <div class="form-group">
        <select name="category" class="form-control">
            <option disabled>Выберите тип</option>
            <option value="general">General</option>
            <option value="news">News</option>
            <option value="private">Private</option>
            <option value="reflection">Reflection</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Отправить" />
    </div>
</form> <!-- ввод формы блога -->
{% endblock content %}

