{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h3>Версия 2.4</h3>

<h4>Обновление дизайна и навигации</h4>
<h5>На <a href="http://snnn.ru">главной странице</a> есть доступ к 4-м основным разделам: События, Сборники гимнов, Статистика, Темы гимнов.
Для удобства на главной странице находится 3 основные ссылки для быстрого доступа к содержанию смешанного хора, мужского хора и группы прославления.
Там же находится еще одна ссылка <a href="http://old.snnn.ru">"Старая версия"</a> - если новая версия сайта вызовет затруднения, т.е. на всякий пожарный случай.
</h5>

<h4>Основной принцип навигации</h4>
<h5>Из главной страницы можно попасть в любую часть базы данных связанной с конкретным служением согласно выбранному разделу.После этого в верхней части всегда будет доступна кнопка "Меню", c помощью которой можно будет перемещаться в нужный раздел данного служения.
Кроме того, в некоторых разделах будут доступны общие для всех служений пункты меню, такие как "Сортировка по базе", "Полный список богослужений".
</h5>

<h4>Раздел "Статистика гимнов"</h4>
<h5>Самая примечательная возможность этой версии связанная со статистикой. Появилась возможность выбрать нужное событие. После этого откроется страница с гимнами, которые исполнялись, включая те события, которые были до или после. <a href="http://snnn.ru/hymnals/songbyws/one/5/598/">Пример.</a>
</h5>

<h4>Другие изменения</h4>
<h5>Также была добавлена возможность эффективно <a href="http://snnn.ru/hymnals/alphabet/0/n/">сортировать</a> гимны по сборникам, названию, и номеру страницы. Размер всех таблиц, за исключением "статистики", изначально привязан к ширине экрана. Кроме того, при просмотре полного списка событий из под конкретного служения будут выделены те, которые к нему относятся.
<a href="http://snnn.ru/hymnals/ws/5/">Пример.</a>
</h5>
{% endblock content %}