body {
/*    background: url("http://ilyakhasanov.ru/images/Background/27.jpg") 0 0 repeat;*/
    background-image: url(img/27.jpg) 0 0 repeat;
    padding: 5px 5px 110px 5px;
    width:100%;
/*    max-width:1000px;*/
}

.nb p {
  color: ligthgray;
  font-size: 75%;
  }

input, textarea {
  outline: none;
  border: none;
/*  border: solid 1px #DCDCDC; */
}

textarea {
  height: 120px;
}
.container {
    height: 70px;
}

table {
    table-layout: auto;
    width: 100%;
}

td {
    padding: 1px;
    border: none;
}

td .btn{
    font-size: 120%;
}

.row1 {
     background-color: #eeeeee;
}
.row2 {
     background-color: #white;
}

.head {
    text-align:center;
}

th.ws, td.ws {
    text-align:center;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
}

td.name {
    text-align:left;
    vertical-align: middle;
    padding-top: 8px;
    padding-bottom: 8px;    
}

th.page, td.page {
    text-align:center;
    vertical-align: middle;
    font-weight: bold;
}

th.icon, td.icon {
    width = 25px;
    text-align:center;
    vertical-align: middle;
}

/************************************************/

    @media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

body {
    padding: 5px 5px 110px 5px;
}

.container-fluid {
    padding-right: 2px;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
}

.ws {
    text-align:center;
    vertical-align: middle;
    font-size: 80%;
}

td.name {
    text-align:left;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
}

th.icon, td.icon {
    width = 20px;
    text-align:center;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
}
