{% extends 'base.html' %}

{% block content %}

<h2>Алфавитный указатель</h2>

{% if alphabet_song_list %}
    <table WIDTH=100%>
    {% for song in alphabet_song_list %}
        <tr>
            <TD width=50%><a href="{% url 'hymnals:song' song.id %}">{{ song.Name }}</a></TD>
            <TD width=20% ALIGN="right">{{ song.Page_Score }}</TD>
            <TD ALIGN="right">{{ song.hymnal__Hymnal_Name }}</TD>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Таких гимнов нет в базе данных.</p>
{% endif %}

{% endblock content %}