{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<h2>Алфавитный указатель</h2>

{% if alphabet_song_list %}
    <h4>
    {% if order == 'p' %}
        <a class="btn btn-default" href="{% url 'hymnals:alphabet' 'n' %}">по названию</a>
        <a class="btn btn-default" href="{% url 'hymnals:alphabet' 'p' %}">по сборникам</a>
    {% else %}
        <a class="btn btn-default" href="{% url 'hymnals:alphabet' 'n' %}">по названию</a>
        <a class="btn btn-default" href="{% url 'hymnals:alphabet' 'p' %}">по сборникам</a>
    {% endif %}
    </h4>
    <table WIDTH=100%>
    {% for song in alphabet_song_list %}
        <tr>
            <td width=15% align="center"><img class="hymnal_icon_ll" src="{% static 'img' %}/small_{{song.hymnal__icon}}"></td>
            <td width=70% align="left"><a href="{% url 'hymnals:song' song.id %}">{{ song.Name }}</a></td>
            <td class = "page" align="center">
            {% if song.Page_Score %}
                {{ song.Page_Score }}
            {% else %}
                {% if song.accords %}
                    <a class="btn btn-primary btn-mini" href="{% url 'hymnals:pdf' song.id %}">PDF</a>
                {% endif %}
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Таких гимнов нет в базе данных.</p>
{% endif %}

    <br>
    <h4><a href="{% url 'hymnals:alphabet' 'n' %}">Алфавитный указатель всех гимнов</a></h4>
    <hr>
    <h4><a href="{% url 'hymnals:ws' %}">Полный список богослужений</a></h4>
    <hr>
    <h4><a href="http://snnn.ru">Главная</a></h4>

{% endblock content %}