{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div>
<h2>{{chorus.name}}</h2>
<hr>
<h3>Сборники гимнов</h3>

{% if hymnal_list %}
    <table width=100%>
    {% for hymnal in hymnal_list %}
        <tr>
            <td width=15% align="center">
                <a href="{% url 'hymnals:detail' hymnal.id 'n' %}">
                    <img class="hymnal_icon" src="{% static 'img' %}/small_{{hymnal.icon}}" />
                </a>
            </td>
            <td align="left"><a href="{% url 'hymnals:detail' hymnal.id 'n' %}">{{hymnal}}</a></td>
        </tr>
    {% endfor %}
    </table>

    <br>
    <h4><a href="{% url 'hymnals:alphabet_chorus' chorus.id %}">Алфавитный указатель гимнов</a><BR></h4>
    <hr>
    <h4><a href="{% url 'hymnals:ws_chorus' chorus.id %}">Список богослужений</a></h4>
{% else %}
    <p>Таких гимнов нет в базе данных.</p>
{% endif %}
</div>
{% endblock content %}

    <!--{% block alphabet %}-->
    <!--{% endblock alphabet %}-->
