{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h2>{{chorus.name}}</h2>
<hr>
<h3>Сборники гимнов</h3>

{% if hymnal_list %}
    <table WIDTH=60%>
    {% for hymnal in hymnal_list %}
        <tr>
            <td><a href="{% url 'hymnals:detail' hymnal.id %}"><img src="{% static 'img' %}/{{hymnal.icon}}" /></a></td>
        </tr>
        <tr>
            <td><a href="{% url 'hymnals:detail' hymnal.id %}">{{hymnal}}</a></td>
        </tr>
    {% endfor %}
    </table>

    <br>
    <h4><a href="{% url 'hymnals:alphabet_chorus' chorus.id %}">Алфавитный указатель гимнов хора</a><BR></h4>
    <hr>
    <h4><a href="{% url 'hymnals:ws_chorus' chorus.id %}">Список богослужений с участием хора</a></h4>
{% else %}
    <p>Таких гимнов нет в базе данных.</p>
{% endif %}

{% endblock content %}

    <!--{% block alphabet %}-->
    <!--{% endblock alphabet %}-->
