<h2>Дата богослужения: {{ ws.Date}}</h2>
<!--<h2>{{ ws.id }}</h2>-->
{% extends 'base.html' %}

{% block content %}


{% if selected_songvsws_list %}
    <table WIDTH=60%>
    {% for song in selected_songvsws_list  %}
        <tr>
            <TD><a href="{% url 'hymnals:results' song.h song.s %}">{{ song.song }}</a></TD>
            <TD ALIGN="right">{{ song.Page_Score }}</TD>
            <TD ALIGN="right">{{ song.hymnal }}</TD>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No songs are available.</p>
{% endif %}

<p>
    <a href="{% url 'hymnals:alphabet' %}">Алфавитный указатель</a><br>
    <a href="{% url 'hymnals:choir' %}">Список сборников</a><br>
    <a href="{% url 'hymnals:ws' %}">Список богослужений</a>
</p>

{% endblock %}