{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h2>{{ chorus.name }}</h2>
<h3>{{ topic.name }}</h3>
<!-- if not Worship Service hymnal book -->

{% if song_list %}
    <table width=100%>
    {% for song in song_list %}
        {% cycle 'row1' 'row2' as rowcolors silent %}
        <tr class={{rowcolors}}>
            <td width=15% align="center"><img class="hymnal_icon_ll" src="{% static 'img' %}/small_{{song.hymnal.icon}}"></td>
            <td width = 70%><a href="{% url 'hymnals:song' song.song.id %}">{{ song }}</a></td>
            <td class = "page" align="center">
            {% if song.page %}
                {{ song.page }}
            {% else %}
                {% if song.accords %}
                    <a class="btn btn-primary btn-mini" href="{% url 'hymnals:pdf' song.song.id %}">PDF</a>
                {% endif %}
            {% endif %}
            </td>
            <td class = "page" align="center">
            {% if song.over %}
                {{ song.over }}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Гимны с указанной темой не отмечены.</p>
{% endif %}

    <br>
    <h4><a href="{% url 'hymnals:songbyws' chorus.id %}">Статистика спетых гимнов</a><br></h4>
    <hr>
    <h4><a href="{% url 'hymnals:topic_chorus' chorus.id %}">Тематический указатель</a><br></h4>
    <hr>
    <h4><a href="{% url 'hymnals:alphabet_chorus' chorus.id %}">Алфавитный указатель</a><br></h4>
    <hr>
    <h4><a href="{% url 'hymnals:ws_chorus' chorus.id %}">Cписок богослужений</a></h4>


{% endblock content%}