{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h2>{{ hymnal.Hymnal_Name}}</h2>
<!-- if not Worship Service hymnal book -->
{% if hymnal.id != 23 %}
<div>
    <img class="hymnal_icon" src="{% static 'img' %}/{{hymnal.icon}}" />
    <h4>
    {% if order == 'p' %}
        <a class="btn btn-default" href="{% url 'hymnals:detail' hymnal.id 'n' %}">по алфавиту</a>
        <a class="btn btn-default" href="{% url 'hymnals:detail' hymnal.id 'p' %}">по порядку</a>
    {% else %}
        <a class="btn btn-default" href="{% url 'hymnals:detail' hymnal.id 'n' %}">по алфавиту</a>
        <a class="btn btn-default" href="{% url 'hymnals:detail' hymnal.id 'p' %}">по порядку</a>
    {% endif %}
    </h4>
</div>
{% endif %}

{% if selected_song_list %}
    <table width=100%>
    {% for song in selected_song_list %}
        <tr>
            <TD width = 80%><a href="{% url 'hymnals:song' song.id %}">{{ song.Name }}</a></TD>
            <TD class = "page" align="center">
            {% if song.Page_Score %}
                {{ song.Page_Score }}
            {% else %}
                {% if song.accords %}
                    <a class="btn btn-primary btn-mini" href="{% url 'hymnals:pdf' song.id %}">PDF</a>
                {% endif %}
            {% endif %}
            </TD>

        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Таких гимнов нет в базе данных.</p>
{% endif %}

    <br>
    <h4><a href="{% url 'hymnals:songbyws' hymnal.chorus.id %}">Статистика спетых гимнов</a><br></h4>
    <hr>
    <h4><a href="{% url 'hymnals:topic_chorus' hymnal.chorus.id %}">Тематический указатель</a><br></h4>
    <hr>
    <h4><a href="{% url 'hymnals:alphabet' 'n' %}">Алфавитный указатель всех гимнов в базе</a><br></h4>
    <hr>
    <h4><a href="{% url 'hymnals:ws' %}">Полный список богослужений</a></h4>


{% endblock content%}