{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<style>
table {
     table-layout: fixed; /* Фиксированная ширина ячеек */
     width: 600px;
}
.col1 {
    width: 250px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}
.col2 {
    width: 100px;
    text-align: center;
}
.col3 {
    width: 100px;
    text-align: center;
}
.col4 {
    width: 200px;
    text-align: center;
}
</style>

<div>
    <a name="top"></a>
    <ul class="nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-menu-hamburger"></i> Меню</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="{% url 'hymnals:songbyws' hymnal.chorus.id %}"><i class="glyphicon glyphicon-stats"></i> Статистика спетых гимнов</a></li>
                <li><a href="{% url 'hymnals:topic_chorus' hymnal.chorus.id %}"><i class="glyphicon glyphicon-list-alt"></i> Тематический указатель</a></li>
                <li><a href="{% url 'hymnals:alphabet_chorus' hymnal.chorus.id %}"><i class="glyphicon glyphicon-book"></i> Алфавитный указатель</a></li>
                <li><a href="{% url 'hymnals:ws_chorus' hymnal.chorus.id %}"><i class="glyphicon glyphicon-calendar"></i> Список богослужений</a></li>
            </ul>
        </li>
    </ul>

<div class="head">
    <h2>{{ hymnal.Hymnal_Name}}</h2>
</div>

<!-- if not Worship Service hymnal book -->
{% if hymnal.id != 23 %}
    <img class="hymnal_icon" src="{% static 'img' %}/{{hymnal.icon}}" />
{% endif %}

{% if selected_song_list %}
    <table width=100% class="table table-hover table-striped">
        {% if hymnal.id != 23 %}
        <colgroup>
            <col class="col1">
            <col class="col4">
        </colgroup>
        <tr>
            <th style="text-align:center"><a class="btn" href="{% url 'hymnals:detail' hymnal.id 'n' %}"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
            <th><a class="btn" href="{% url 'hymnals:detail' hymnal.id 'p' %}"><i class="glyphicon glyphicon-sort-by-order"></i></a></th>
        </tr>
        {% else %}
        <colgroup>
            <col class="col1">
            <col class="col2">
            <col class="col3">
        </colgroup>
        <tr>
            <th style="text-align:center"><a class="btn" href="{% url 'hymnals:detail' hymnal.id 'n' %}"><i class="glyphicon glyphicon-sort-by-alphabet"></i></a></th>
            <th><a class="btn" href="{% url 'hymnals:detail' hymnal.id 'f' %}"><i class="glyphicon glyphicon-sort-by-attributes"></i></a></th>
            <th><a class="btn" href="{% url 'hymnals:detail' hymnal.id 's' %}"><i class="glyphicon glyphicon-sort-by-order"></i></a></th>
        </tr>
        {% endif %}
    {% for song in selected_song_list %}
        <tr>
            <td><a href="{% url 'hymnals:song' song.id %}">{{ song.Name }}</a></td>
            <td class = "page">
            {% if song.Page_Score %}
                {{ song.Page_Score }}
            {% else %}
                {% if song.accords %}
                    <a class="btn btn-primary btn-mini" href="{% url 'hymnals:pdf' song.id %}"><i class="glyphicon glyphicon-open-file"></i> PDF</a>
                {% endif %}
            {% endif %}
            </td>
            {%if hymnal.id = 23 %}
            <td class = "page">
                {% if song.over %}
                    {{ song.over }}
                {% endif %}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Таких гимнов нет в базе данных.</p>
{% endif %}
</div>
<br>
    <a class="btn btn-primary" href="#top"><i class="glyphicon glyphicon-arrow-up"></i> Наверх</a>

{% endblock content%}