{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<style>
.col1 {
    width: 5%;
    text-align: center;
}
.col2 {
    width: 85%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}
.col3 {
    width: 5%;
    text-align: center;
}
.col4 {
    width: 5%;
    text-align: center;
}
.col5 {
    width: 10%;
    text-align: center;
}
</style>

<div>
    <a name="top"></a>
    <ul class="nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-menu-hamburger"></i> Меню</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="{% url 'hymnals:choir' ws.chorus.id %}"><i class="glyphicon glyphicon-music"></i> Сборники гимнов</a></li>
                <li><a href="{% url 'hymnals:songbyws' ws.chorus.id %}"><i class="glyphicon glyphicon-stats"></i> Статистика спетых гимнов</a></li>
                <li><a href="{% url 'hymnals:topic_chorus' ws.chorus.id %}"><i class="glyphicon glyphicon-list-alt"></i> Тематический указатель</a></li>
                <li><a href="{% url 'hymnals:alphabet' ws.chorus.id 'n' %}"><i class="glyphicon glyphicon-sort-by-alphabet"></i> Алфавитный указатель</a></li>
                <li><a href="{% url 'hymnals:ws_chorus' ws.chorus.id %}"><i class="glyphicon glyphicon-calendar"></i> Список собраний</a></li>
            </ul>
        </li>
    </ul>

<div class="head">
    <h2>Дата собрания:</h2>
    <h3>{{ ws.Date }}</h3>
</div>

{% if songvsws_list %}
    <table class="table-striped">
    {% if chorus != 5 %}
        <colgroup>
            <col class="col1">
            <col class="col2">
            <col class="col5">
        </colgroup>
    {% else %}
        <colgroup>
            <col class="col1">
            <col class="col2">
            <col class="col3">
            <col class="col4">
        </colgroup>
    {% endif %}
    {% for song in songvsws_list %}
        <tr>
            <td class="icon">
                <a href="{% url 'hymnals:detail' song.hymnal.id 'n' %}">
                    <img src="{% static 'img' %}/small_{{song.hymnal.icon}}" alt="{{ song.hymnal }}"/>
                </a>
            </td>
            <td class="name"><a href="{% url 'hymnals:song' song.song_id %}">{{ song.song }}</a></td>
            <td class="page">
            {% if song.page %}
                {{ song.page }}
            {% else %}
                {% if song.accords %}
                    <a class="btn" href="{% url 'hymnals:pdf' song.song_id %}"><i class="glyphicon glyphicon-open-file"></i></a>
                {% endif %}
            {% endif %}
            </td>
            {%if hymnal.id = 23 %}
            <td class="page">
                {% if song.over %}
                    {{ song.over }}
                {% endif %}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    {% if ws.info = 0 %}
        <p class="text-warning">Информация об исполнении гимнов быть неполной.</p>
    {% endif %}
{% else %}
    <p class="text-warning">Информация об исполнении гимнов отсутствует.</p>
{% endif %}
<br>
    <a class="btn btn-primary" href="#top"><i class="glyphicon glyphicon-arrow-up"></i> Наверх</a>

</div>

{% endblock content %}