{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h2>Дата богослужения:</h2>
<h3>{{ ws.Date }}</h3>

{% if songvsws_list %}
    <table WIDTH=100%>
    {% for song in songvsws_list  %}
        <tr>
            <TD width=15% align="center">
                <a href="{% url 'hymnals:detail' song.hymnal.id 'n' %}">
                    <img src="{% static 'img' %}/small_{{song.hymnal.icon}}" alt="{{ song.hymnal }}"/>
                </a>
            </TD>
            <TD width = 70%><a href="{% url 'hymnals:song' song.song_id %}">{{ song.song }}</a></TD>
            <TD class = "page" align="center">
            {% if song.page %}
                {{ song.page }}
            {% else %}
                {% if song.accords %}
                    <a class="btn btn-primary btn-mini" href="{% url 'hymnals:pdf' song.song_id %}">PDF</a>
                {% endif %}
            {% endif %}
            </TD>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Список пуст.</p>
{% endif %}

    <br>
    <h4><a href="{% url 'hymnals:alphabet' 'n' %}">Алфавитный указатель всех гимнов</a><br></h4>

{% endblock content %}