{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h2>{{ chorus.name }}</h2>
<h3>{{ topic.name }}</h3>


 <style>
 #verticalRow {
     -webkit-transform: rotate(270deg); /* разворот текста для разных браузеров */
     -moz-transform: rotate(270deg);
     -ms-transform: rotate(270deg);
     -o-transform: rotate(270deg);
     transform: rotate(270deg);
     height: 60px;  /* высота блока */
}

td {
     border: solid 1px #f4f4f4;
}

 </style>

{% if ws_list %}
    <table id="statisticTable">
        <tr>
            <td font-weight="bold">Гимн/Дата</td>
            {% for ws in ws_list %}
                <td id="verticalRow">{{ ws.Date|date:"j.m" }}</td>
            {% endfor %}
        </tr>
        {% for song_row in song_table %}
        <tr>
            {% for sws in song_row %}
                {% if forloop.first %}
                    <td>{{sws}}</td>
                {% else %}
                    {% if sws %}
                        <td width="20px" bgcolor="{{tdcolor}}"></td>
                    {% else %}
                        <td width="20px"></td>
                    {% endif%}
                {% endif%}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Исполненных гимнов в базе нет.</p>
{% endif %}

    <br>
    <h4><a href="{% url 'hymnals:alphabet' 'n' %}">Алфавитный указатель всех гимнов в базе</a><br></h4>
    <hr>
    <h4><a href="{% url 'hymnals:ws' %}">Полный список богослужений</a></h4>


{% endblock content%}