{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h2>{{ chorus.name }}</h2>
<!-- if not Worship Service hymnal book -->

{% if topic_list %}
    <h3>Тематический список</h3>
    <table width=100%>
        <tr>
            <td width = 80%>Тема гимна</td>
            <td align="center">Количество</td>
        </tr>
    {% for topic in topic_list %}
        {% cycle 'row1' 'row2' as rowcolors silent %}
        <tr class={{rowcolors}}>
            <td width = 80%><a href="{% url 'hymnals:detail_topic' chorus.id topic.id %}">{{ topic }}</a></td>
            <td class = "page" align="center">
            {% if topic.song_count %}
                {{ topic.song_count }}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Тематический список отсутствует.</p>
{% endif %}

    <br>
    <h4><a href="{% url 'hymnals:songbyws' chorus.id %}">Статистика спетых гимнов</a><br></h4>
    <hr>
    <h4><a href="{% url 'hymnals:alphabet_chorus' chorus.id %}">Алфавитный указатель</a><br></h4>
    <hr>
    <h4><a href="{% url 'hymnals:ws_chorus' chorus.id %}">Cписок богослужений</a></h4>


{% endblock content%}