{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<style>
table {
     table-layout: fixed; /* Фиксированная ширина ячеек */
     width: 600px;
}

.col1 {
    width: 350px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}
.col2 {
    width: 200px;
    text-align: center;
}
</style>

<div>
    <ul class="nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-menu-hamburger"></i> Меню</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="{% url 'hymnals:songbyws' chorus.id %}"><i class="glyphicon glyphicon-stats"></i> Статистика спетых гимнов</a></li>
                <li><a href="{% url 'hymnals:alphabet_chorus' chorus.id %}"><i class="glyphicon glyphicon-book"></i> Алфавитный указатель</a></li>
                <li><a href="{% url 'hymnals:ws_chorus' chorus.id %}"><i class="glyphicon glyphicon-calendar"></i> Список богослужений</a></li>
            </ul>
        </li>
    </ul>

<div class="head">
    <h2>{{ chorus.name }}</h2>
    <h3>Тематический список</h3>
</div>

{% if topic_list %}
    <table class="table table-striped" width=100%>
        <colgroup>
            <col class="col1">
            <col class="col2">
        </colgroup>
        <tr>
            <th>Тема гимна</th><th style="text-align:center">Количество</th>
        </tr>
    {% for topic in topic_list %}
        {% cycle 'row1' 'row2' as rowcolors silent %}
        <tr class={{rowcolors}}>
            <td><a href="{% url 'hymnals:detail_topic' chorus.id topic.id %}">{{ topic }}</a></td>
            <td class = "page" style="text-align:center">
            {% if topic.song_count %}
                {{ topic.song_count }}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Тематический список отсутствует.</p>
{% endif %}

</div>

{% endblock content%}