{% extends 'base.html' %}

{% block content %}

<h3>Список богослужений</h3>

<h4>Сегодня: {{ cur_date|date:"j E" }}</h4>

{% if ws_list %}
    {% for ws in ws_list %}
        {% ifchanged %}
            <h4 ALIGN="center"> {{ ws.Date|date:"F Y" }}</h4>
        {% endifchanged %}
        <table WIDTH=100% >
            <tr>
                <TD width=35% ALIGN="center"><a href="{% url 'hymnals:detail_ws' ws.id %}">{{ ws.Date|date:"j E" }}</a></TD>
                <TD ALIGN="right">{{ ws.chorus__name }}</TD>
                <TD width=45% ALIGN="right">{{ ws.Event }}</TD>
            </tr>
        </table>
    {% endfor %}
{% else %}
    <p>Список пуст.</p>
{% endif %}
    <hr>
    <h4><a href="{% url 'hymnals:ws' %}">Список богослужений для всех хоров</a></h4>

{% endblock content %}
