{% extends 'base.html' %}

{% block content %}

<h3>Список богослужений</h3>

<h4>Сегодня: {{ cur_date|date:"j E" }}</h4>

{% if ws_list %}
    {% for ws in ws_list %}
        {% ifchanged %}
            <h4 ALIGN="center"> {{ ws.Date|date:"F Y" }}</h4>
        {% endifchanged %}
        <table WIDTH=100% >
        {% cycle 'row1' 'row2' as rowcolors silent %}
            <tr class={{rowcolors}}>
                <td width=35% ALIGN="center"><a href="{% url 'hymnals:detail_ws' ws.id %}">{{ ws.Date|date:"j E" }}</a></td>
                <td ALIGN="right">{{ ws.chorus__name }}</td>
                <td width=45% ALIGN="right">{{ ws.Event }}</td>
            </tr>
        </table>
    {% endfor %}
{% else %}
    <p>Список пуст.</p>
{% endif %}
    <hr>
    <h4><a href="{% url 'hymnals:alphabet' 'n' %}">Алфавитный указатель всех гимнов</a></h4>
    <hr>
    <h4><a href="{% url 'hymnals:ws' %}">Полный список богослужений</a></h4>
    <hr>
    <h4><a href="http://snnn.ru">Главная</a></h4>

{% endblock content %}
