{% extends 'base.html' %}

{% block content %}
<h2>Список богослужений</h2>

{% if latest_ws_list %}
    <table WIDTH=100%>
    {% for ws in latest_ws_list %}
        <tr>
            <TD><a href="{% url 'hymnals:detail_ws' ws.id %}">{{ ws.Date }}</a></TD>
            <TD ALIGN="right">{{ ws.Supper }}</TD>
            <TD ALIGN="right">{{ ws.Chorus_Name }}</TD>
            <TD ALIGN="right">{{ ws.Event }}</TD>
        </tr>
    {% endfor %}
    </table>

    <p><a href="{% url 'hymnals:alphabet' %}">Алфавитный указатель</a></p>
{% else %}
    <p>No hymnals are available.</p>
{% endif %}

{% endblock %}