<h2>{{ hymnal.Hymnal_Name}}</h2>

{% if selected_song_list %}
    <table WIDTH=40%>
    {% for song in selected_song_list %}
        <tr>
            <TD><a href="{% url 'hymnals:results' song.hymnal_id song.id %}">{{ song.Name }}</a></TD>
            <TD ALIGN="right">{{ song.Page_Score }}</TD>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No songs are available.</p>
{% endif %}

<p>
    <a href="{% url 'hymnals:alphabet' %}">Алфавитный указатель</a><br>
    <a href="{% url 'hymnals:choir' %}">Список сборников</a><br>
    <a href="{% url 'hymnals:ws' %}">Список богослужений</a>
</p>
