{% extends 'results_song.html' %}

{% block lyrics %}
<hr>
Люблю, Господь, с Тобой общенья час,<br>
Когда в душе звучит Твой нежный глас.<br>
<br>
Вот и сейчас я пред Тобой, Спаситель<br>
Ты сердце моё очисти, сердце моё очисти,<br>
<br>
Сердце моё очисти и говори со мной.<br>
И я в своей мольбе всё скажу тебе:<br>
Жизнь моя, знаю я, не так свята,<br>
Как жизнь Твоя. О, прости меня!<br>
<br>
Ты знаешь всё; ведь я люблю Тебя.<br>
Ты жизнь моя, дай чтоб видна была<br>
Во мне святая жизнь Твоя.<br>
{% endblock lyrics %}