{% extends 'results_song.html' %}

{% block lyrics %}<hr>
Воспойте Господу! Пусть льется пенье,<br>
И благословляйте:  ведь только Он свят!<br>
Пусть вся земля и народы вселенной<br>
Воскликнут и славят спасенье Его.<br>
<br>
Славу Его возвещайте в народах,<br>
Его чудеса возгласите везде.<br>
Ибо Господь наш Один достохвален<br>
И страшен Он паче богов всех земных.<br>
Все боги земные есть пепел и прах,<br>
А Он землю, небо и все сотворил.<br>
<br>
Сила, величие, слава вовеки;<br>
Да, слава вовеки во веки веков.<br>
Воздайте славу, народы земные<br>
И славьте великое имя Его!<br>
И славьте великое имя Его!<br>
Воспойте славу, дары несите, и поклоняйтесь.<br>
Пред славой Его трепещи вся земля.<br>
Наш Бог велик и свят!<br>
{% endblock lyrics %}