{% extends 'results_song.html' %}

{% block lyrics %}
Мои все согрешенья несу к ногам Христа.<br>
Дарует Он прощенье и мир  Свой у креста.<br>
Святая кровь омоет, все пятна убелит,<br>
Вину мою покроет и раны исцелит,<br>
И раны исцелит.<br>
<br>
Открыл я пред Тобою всю сердца нищету,<br>
Твоей водой живою восполнишь пустоту,<br>
И все мои страданья понес Ты на себе,<br>
Скорбям всем утешенье нашел я во Христе,<br>
Нашел я во Христе.<br>
<br>
На  вечном  основаньи  душа утверждена,<br>
В обители Отцовской Христом водворена.<br>
Его я Имя славлю, опоры нет другой,<br>
Он Первый и Последний, Христос Спаситель Мой,<br>
Христос Спаситель Мой.<br>
{% endblock lyrics %}