{% extends 'results_song.html' %}

{% block lyrics %}<hr>
Отче наш, Отче наш, сущий, сущий на небесах!<br>
Да святится Имя Твое,<br>
Да приидет Царствие Твое,<br>
Да будет воля, воля, воля, воля Твоя<br>
Воля Твоя и на земле, как на небе;<br>
<br>
Хлеб, хлеб наш насущный<br>
Дай нам, дай нам на сей день.<br>
И прости нам, прости нам<br>
долги наши, долги наши,<br>
как и мы прощаем, мы прощаем,<br>
как и мы прощаем, мы прощаем должникам нашим.<br>
<br>
И не введи, и не введи нас, и не введи нас<br>
Во искушение, во искушение,<br>
Но избави нас от лукавого,<br>
От лукавого, от  лукавого.<br>
{% endblock lyrics %}