{% extends 'results_song.html' %}

{% block lyrics %}<hr>
Славу оставив неба, к нам Иисус пришел,<br>
Смертью Своей спасенье нам приобрел.<br>
<br>
Припев:<br>
За грешных нас страдал Христос,<br>
Нас любя Он в жертву Сам Себя принёс.<br>
Он нас простил грехи омыл,<br>
Небо нам открыл страданьями Христос.<br>
<br>
Счастливы и свободны мы чрез Него теперь,<br>
В царство Отца на небо открыл нам дверь.<br>
<br>
Следуя за Иисусом, неба достигнем мы,<br>
Спасшему нас там славу мы воздадим.<br>
<br>
К небу дверь всем отверзта, друг мой вошёл ли ты?<br>
Спеши, пока не поздно, скорей войти!<br>
{% endblock lyrics %}