{% extends 'results_song.html' %}

{% block lyrics %}
<br>
Велики и чудны дела Твои, Господи,<br>
Боже Вседержитель,<br>
Праведны, праведны и истинны пути Твои,<br>
Царь Святых.<br>
<br>
Кто не убоится Тебя, Господи,<br>
И не прославит имени Твоего?<br>
Кто не убоится Тебя, Господи, Господи,<br>
И не прославит имени Твоего?<br>
<br>
Ибо Ты един свят, ибо Ты един свят,<br>
Ибо Ты един свят.<br>
<br>
Все народы придут и поклонятся пред Тобою,<br>
Поклонятся пред Тобою,<br>
<br>
Ибо открылись суды Твои,<br>
Открылись суды Твои.<br>
<br>
Праведен Ты, Господи, праведен Ты, Господи,<br>
Боже, Боже Вседержитель,<br>
Истинны и праведны суды Твои,<br>
Боже Вседержитель, Царь святых.<br>

{% endblock lyrics %}