{% extends 'results_song.html' %}

{% block lyrics %}<hr>
Взгляни, взгляни, взгляни на крест, душа!<br>
Распят, распят Иисус там за тебя.<br>
Распят, распят Иисус там за тебя.<br>
Смотри, как Он страдает, в мученьях умирает…<br>
Смертный час! Скорбный час!<br>
<br>
Как возлюбил Спаситель грешных нас!<br>
Он был презрен за нас, Он был презрен за нас,<br>
Был умален за нас, был умален за нас,<br>
И был изъязвлен Он, и как злодей казнён,<br>
Горькую чашу Сын Божий испил.<br>
Всё для прощенья, всё для спасенья.<br>
Нас, низко павших, Он совершил.<br>
<br>
Склонись, склонись, склонись пред Ним, душа,<br>
И плачь, и плач, раскаянья полна,<br>
И плачь, и плачь, раскаянья полна.<br>
Твои грехи, деянья – причина Его страданья.<br>
Смертный час! Скорбный час!<br>
Как возлюбил Спаситель грешных нас!<br>
Как возлюбил Спаситель грешных нас!<br>
Он жизнь отдал за нас!
{% endblock lyrics %}