{% extends 'results_song.html' %}

{% block lyrics %}<br>
Знаешь ли подвиг Иисуса? Знаешь ли ужас креста?<br>
Весь я слезами зальюся, вспомнив о ранах Христа.<br>
О, как над Ним издевались, как заушали Его!<br>
Гвозди как жадно впивались в тело святое Его!<br>
<br>
Огненно красной струёю кровь истекала из ран, <br>
А над притихшей землёю ночи клубился туман…<br>
В нём от людей притаился лев беззакония сам…<br>
О, как в страдальца он впился, к смертным прильнувши крестам.<br>
<br>
О, посмотри на Иисуса! Низко Он свис со креста…<br>
Весь я слезами зальюся, вспомнив о смерти Христа…<br>
Но понапрасну ликуют темные силы врагов,<br>
Рано они торжествуют, смертный соткавши покров.<br>
<br>
Взглянь на зарю воскресенья, гимнам хваленья внемли!<br>
Видишь, выходит из тленья чудный Спаситель земли.<br>
Злобой немой задыхаясь, лев пораженный лежит.<br>
К овцам любимым склоняясь, Пастырь Собой их хранит.<br>
{% endblock lyrics %}