{% extends 'results_song.html' %}

{% block lyrics %}
Видишь ли Голгофу, где висит Спаситель,<br>
К древу пригвожденный, за меня, за тебя?<br>
Видишь, умирает в муках и страданьях.<br>
Наши преступленья взял Он на Себя.<br>
<br>
Помни крест Голгофский, крест Голгофский помни,<br>
Прославляя,<br>
Помни крест Голгофский, крест Голгофский помни,<br>
Прославляя –<br>
Там Господню волю исполняя.<br>
Наше искупленье совершил Христос.<br>
<br>
Знаешь ли любовь ты, что явил Всевышний?<br>
Сына отдал в жертву за меня, за тебя.<br>
Знаешь ли ты силу, что ведёт нас к жизни,<br>
Направляя стези к Богу, к небесам?<br>
<br>
Помни крест Голгофский, крест Голгофский помни,<br>
Прославляя,<br>
Помни крест Голгофский, крест Голгофский помни,<br>
Прославляя,-<br>
Там Господню волю исполняя<br>
Наше искупленье совершил Христос.<br>
{% endblock lyrics %}