{% extends 'results_song.html' %}

{% block lyrics %}
<hr>
Была Любовь поругана когда-то<br>
За нас с тобою.<br>
И на кресте безжалостно распята<br>
В палящем зное, в палящем зное.<br>
<br>
В ответ на все плевки и поношенья<br>
Она молчала, Она молчала,<br>
Божественным исполнена смиреньем,<br>
И все прощала, и все прощала.<br>
<br>
К Богу взывала: «О прости им, Отче!»<br>
И кровь струилась,<br>
И застилали слезы очи,<br>
Она ж молилась.<br>
<br>
И приняв на Себя людей пороки,<br>
В великой жертве,        <br>
Любовь в ответ на всю жестокость –<br>
Дала бессмертье.<br>
<br>
Согрет Любовью мир во все века неугасимой.<br>
Сквозь тьму ночей зовет её заря - Христос - Ей имя! <br>
Христос - Ей имя! Христос - Ей имя!<br>
<br>
Была Любовь поругана когда-то за нас с тобою.<br>
{% endblock lyrics %}