{% extends 'results_song.html' %}

{% block lyrics %}<hr>
Ночь полна печали, ночь полна печали,<br>
Мир уснул тревожным сном.<br>
Только один Божий Сын всеми оставлен в саду.<br>
<br>
Молится Он, Молится Он.<br>
А в тишине Гефсиманского сада,<br>
Иисуса оставив, уснули друзья.<br>
Их приютила ночная прохлада<br>
И сон равнодушный сомкнул их глаза.<br>
<br>
Вдруг осветился весь сад и пришёл предающий Его.<br>
Воины с ним, служители с ним,<br>
Сына Божья взяли и, связавши, повели<br>
На страданья и на смерть.<br>
<br>
Как овца, веден Он был на заклание<br>
И, как агнец пред стригущими, безгласен был.<br>
Весь позор Он перенёс и злословия,<br>
Всё любовью покрывая, в муках умирал.<br>
<br>
На Голгофе, распятый, молился Он Отцу:<br>
«Отче прости им, ибо не знают, что делают!»<br>
Перед смертию воскликнул громким голосом Христос,<br>
И по всей горе Голгофе: «Совершилось» - пронеслось.<br>
Совершилось! Совершилось спасенье для всех людей!<br>
<br>
Подвиг славный, подвиг спасенья<br>
Ради нас Он совершил, ради нас Он совершил.<br>
{% endblock lyrics %}