{% extends 'results_song.html' %}

{% block lyrics %}
<hr>
О, как прискорбны, горьки нам воспоминания<br>
О дне, когда Сын Божий Сам принял страдания.<br>
Как Агнца кроткого, ведут без сожаления<br>
И за виновных отдают на убиение.<br>
<br>
За грешников безгрешный был на древо вознесен,<br>
Голгофский  подвиг совершил, за наш грех Он казнен.<br>
Он был пронзен копьём в ребро, текла вода и кровь.<br>
Что к этому Его вело? К нам всем Его любовь.<br>
<br>
За грешников безгрешный был за древо вознесен,<br>
Голгофский  подвиг совершил, за наш грех Он казнен.<br>
Он был пронзен копьём в ребро, текла вода и кровь.<br>
Что к этому Его вело? К нам всем Его любовь.<br>

{% endblock lyrics %}