{% extends 'results_song.html' %}

{% block lyrics %}
Путь последний Христа приближался к концу,<br>
Капли крови текли по святому лицу Христа,<br>
<br>
Весь изранен Он был, Христос,<br>
На Голгофу крест нёс Христос.<br>
О, скажи, за кого Ты страдаешь, Христос?<br>
<br>
Изнемог  и упал, выбиваясь из сил,<br>
Мой Христос, кто Тебя ко кресту пригвоздил?<br>
<br>
Нежный, ласковый взор мне ответил любя:<br>
«Эту страшную казнь принял Я за тебя».<br>
<br>
Милый друг, о ответь ты теперь на вопрос:<br>
За кого пострадал кроткий агнец Христос? За тебя.<br>
{% endblock lyrics %}