{% extends 'results_song.html' %}

{% block lyrics %}<hr>
Сегодня вспоминаем  мы смерть Твою, Господь,<br>
Когда за души наши вознёс Свою Ты плоть.<br>
Сегодня вспоминаем как суд Пилат вершил,<br>
И как Ты на Голгофе спасенье совершил.<br>
<br>
Прими благодаренье, Спаситель, Божий Сын!<br>
Хвала и честь вовеки от нас Тебе! Аминь!<br>
<br>
Сегодня вспоминаем Спасителя Христа, <br>
Как кровь Его святая от смерти нас спасла.<br>
Сегодня вспоминаем Твою к нам благодать,<br>
Что Ты нас удостоил причастие принять.<br>
<br>
Прими благодаренье, Спаситель, Божий Сын!<br>
Хвала и честь вовеки от нас Тебе! Аминь!<br>
Хвала и честь вовеки от нас Тебе! Аминь!<br>
{% endblock lyrics %}