{% extends 'results_song.html' %}

{% block lyrics %}<hr>
У креста Христова мир течет рекой,<br>
Благодати слово всем дает покой.<br>
Там душа больная горьких слёз не льёт<br>
Кровь Христа смывает всякий грех и гнёт.<br>
<br>
Со креста струилась примиренья кровь,<br>
В ней дана нам сила побеждать врагов.<br>
Смерть не испугает, не прельщусь грехом;<br>
Божий Сын спасает на пути земном.<br>
<br>
Землю оставляя, поспешу к Тому,<br>
Чья рука святая разгоняла тьму.<br>
В небесах сложу я всё к Его ногам;<br>
Вечно торжествуя я пребуду там.<br>
{% endblock lyrics %}